name: Backend Deploy
on:
  push:
    branches: [ main ]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/tr_construction_backend
            git pull origin main
            docker stop tr_construction_backend || true
            docker rm tr_construction_backend || true
            docker build -t tr-backend-image .
            docker run -d --name tr_construction_backend -p 8000:8000 tr-backend-image
            docker image prune -f